.forgotPassword{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.fpContent{
    width: 300px;
    box-shadow: 0 0 10px 0 #ccc;
    display: grid;
    align-items: center;
    gap: 36px;
    margin: auto;
    padding: 40px 24px;
    background-color: white;
 }
 
 .userNameWrapper {
     display: grid;
 }
 
 .userNameWrapper input{
     height: 32px;
     margin-top: 8px;
 }
 
 
 .forgotPassword button {
     text-transform: capitalize;
     /* margin-top: 24px; */
 }
 

 .invalidErrorMessage {
    color: firebrick;
 }

 .logo {
    font-size: 20px;
    font-weight: 400;
    display: grid;
    align-items: center;
    justify-content: center;
}

.logoText {
    text-align: center;
    margin: 0 !important;
}
